<% content_for :title do %>
All Notes
<% end %> 
<ul id='notes'>
<% @notes.each do |note| %>
<li>
<%= link_to "#{ Member.find(note.member_id).first_name+' '+Member.find(note.member_id).last_name}", {:controller => :member, :action => 'show', :id => note.member_id} %> on <%= note.modification_time.in_time_zone("Auckland").strftime("%d-%b-%Y, %I:%M%p") %><br/>
<%= note.content %>
</li>
<% end %>
</ul>
