<% content_for :title do %>
Add event
<% end %> 

<%= error_messages_for :event %>

<% form_for :event, @event, :url => { :action => :create }, :html => { :multipart => true } do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<br/>

<div id="commit">
<%= submit_tag "Create" %>
</div>

<% end -%>
