<% content_for :title do %>
Add group
<% end %> 
<% form_for :group, @group, :url => { :action => :create } do |f| %>

<p><label for="group_name">Group Name</label>
<%= f.text_field :name %></p>

<div id="commit">
<%= submit_tag "Create" %>
</div>

<% end -%>
