<% content_for :title do %>
Edit member
<% end %> 

<%= error_messages_for :member %>

<% form_for :member, @member, :url => { :action => :update }, :html => { :multipart => true } do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<br/>
<br/>
<div id="commit">
<%= submit_tag "Update" %>
</div>
<% end -%>
