<% content_for :title do %>
Edit a member
<% end %> 

<%= error_messages_for :member %>

<h1>Edit a member</h1>

<% form_for :member, @member, :url => { :action => :update } do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<br/>

<%= submit_tag "Update" %>

<% end -%>

<%= link_to 'Back', {:action => 'list'} %>