<% content_for :title do %>
Member list
<% end %>
<% if @members.blank? %>
<p>There are no members currently in the system.</p>
<% else %>
  <%= render "member_list", :locals => { :members => @members } %>
<% end %>
