<% content_for :title do %>
  Notes for member <%= "#{@member.first_name+' '+@member.last_name}" %>
<% end %> 

<% @notes.each do |note| %>
on <%= note.modification_time.in_time_zone("Auckland").strftime("%d-%b-%Y, %I:%M%p") %><br/>
<%= note.content %>
<br/>
<br/>
<% end %>
