<% content_for :title do %>
Search for members
<% end %>
<h1>Search results</h1>
<br/>
<% @members.each do |c| %>
<li><%= link_to "#{c.first_name+' '+c.last_name}", {:action => 'show', :id => c.id} -%></li>
<% end %>
</ul>