<% content_for :title do %>
  Search results for <%= @term %>
<% end %>
<br/>

<% if @term > '' %>
  <% if @members.length > 0 %>
    Found: <%= @members.length %>
    <%= render "member_list", :locals => { :members => @members } %>
  <% else %>
    No results sorry
  <% end %>
<% else %>
  Please enter a search term!
<% end %>
